.vscode/
*.code-workspace
.history/
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
node_modules/
creds.js
*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
*.txt
!CMakeLists.txt
*.env
*.data-store
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.db
*.log
build/
target/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.archive
lib/
*.cmd
*chromedriver
*.ipynb
.ipynb_checkpoints/
!requirements.txt